body {
    background-color: slateblue;
}
#Btn {
    display: block;
}
#img {
    display:block;
}
#div1 {
    margin: 10px;
}

@media(max-width: 1300px) {
    body {
        font-size: 70%;
    }
    p {
        font-size: 20px;
    }
}
@media(max-width: 600px) {
    body {
        font-size: 100%;
    }
    p {
        font-size: 40px;
    }
}